In [1]:
import os
import pandas as pd

In [4]:
def clean_shapedata_by_image ():
    image_folder = 'E:/AAA_Study/202003_GraduationProject/zbzCode/images/1_site_shape_all'
    image_file_list = os.listdir(image_folder)
    
    for i in range(3):
        image_id = os.path.splitext(image_file_list[i])[0]
        print(image_id)

In [5]:
clean_shapedata_by_image()

100054192
100113791
100276162

In [99]:
def clean_POI_business_by_image (country_name):
    '''
    按照获取图像的有效数据量，返回筛除无用数据
    '''
    image_folder = 'E:/AAA_Study/202003_GraduationProject/zbzCode/images/'+country_name
    POI_csvfile = 'E:/AAA_Study/202003_GraduationProject/MapData/OSMData/POI_extract_campus/'+country_name+'_latest_university.csv'
    POI_finalfile = 'E:/AAA_Study/202003_GraduationProject/MapData/OSMData/POI_campus_final/'+country_name+'_university.csv'
    business_csvfile = 'E:/AAA_Study/202003_GraduationProject/MapData/OSMData/retail_format_data/'+country_name+'_retail_format.csv'
    business_finalfile = 'E:/AAA_Study/202003_GraduationProject/MapData/OSMData/4_business_format/'+country_name+'_business_format.csv'
    
    POI_raw = pd.read_csv(POI_csvfile,encoding='UTF-8')
    POI_final = pd.DataFrame(columns=POI_raw.columns)
    business_raw = pd.read_csv(business_csvfile,encoding='UTF-8')
    business_final = pd.DataFrame(columns=business_raw.columns)

    imageList = os.listdir(image_folder)
    print('image number:',len(imageList)-1)
    
    for image in imageList:
        if '.csv' not in image:
            osmid = int(os.path.splitext(image)[0])         
            POI_line = POI_raw.loc[POI_raw['OSMID']==osmid]
            POI_final = pd.concat([POI_final,POI_line])
            business_line = business_raw.loc[business_raw['OSMID']==osmid]
            business_final = pd.concat([business_final,business_line])
    print('POI_final:',POI_final.shape)
    print('business_final:',business_final.shape)
    POI_final.reset_index(drop=True, inplace=True)
    business_final.reset_index(drop=True, inplace=True)
    
    POI_final.to_csv(POI_finalfile,index=0,encoding='utf-8-sig')
    business_final.to_csv(business_finalfile,index=0,encoding='utf-8-sig')
    
    #return POI_final,business_final

In [100]:
clean_POI_business_by_image('russia')

image number: 810
POI_final: (810, 14)
business_final: (810, 10)

In [91]:
from PIL import Image

In [96]:
def image_process(image_folder):
    image_list = os.listdir(image_folder)
    for image in image_list:
        img = Image.open(image_folder+'/'+image)
        width = img.size[0]
        height = img.size[1]
        for i in range(0,width):
            for j in range(0,height):
                data = (img.getpixel((i,j)))
                if (data[0] >= 180 and data[0] <= 215):
                    img.putpixel((i,j),(255,0,0,255))
        img = img.convert("RGB")
        img.save("E:/AAA_Study/202003_GraduationProject/zbzCode/images/1_database/" + image)

In [98]:
image_process('E:/AAA_Study/202003_GraduationProject/zbzCode/images/0_database')

### 将全部校园信息整合到一个csv文件

In [6]:
def get_continent(country):
    europe = ['austria','belgium','czech_republic','denmark','finland','france',
             'germany','great_britain','italy','netherlands','norway','poland',
              'russia','spain','sweden','switzerland','ukraine']
    oceania = ['australia','new_zealand']
    south_america = ['brazil']
    north_america = ['canada','mexico','us']
    asia = ['china','india','japan','malaysia_singapore_brunei','south_korea','taiwan']
    africa = ['south_africa']
    if country in europe:
        return 'Europe'
    elif country in oceania:
        return 'Oceania'
    elif country in south_america:
        return 'South_America'
    elif country in north_america:
        return 'North_America'
    elif country in asia:
        return 'Asia'
    elif country in africa:
        return 'Africa'
    else:
        raise Exception('Invalid country name!')

In [9]:
get_continent('australia')

'Oceania'

In [45]:
def base_data_concat(csv_files_path):
    files = os.listdir(csv_files_path)
    print('csv files num:',len(files))
    final_POI_all = pd.DataFrame(columns=['continent','country','OSMID','name','center_lat','center_lon',
                                          'north','south','east','west','off_north','off_south','off_east','off_west',
                                         'site_analyze_length','site_analyze_width'])
    for i in range(len(files)):
        filename = os.path.splitext(files[i])[0]
        country_name = filename[0:filename.find('_university')]
        print(country_name)
        continent = get_continent(country_name)
        restriction = []
        
        POI_data = pd.read_csv(os.path.join(csv_files_path,files[i]))
        for j in range(len(POI_data)):
            restriction.append([continent,country_name])
        df_left = pd.DataFrame(restriction,columns=['continent','country'])
        continent_data = df_left.pop('continent')
        country_data = df_left.pop('country')
        
        POI_data.insert(0,'country',country_data)
        POI_data.insert(0,'continent',continent_data)
        print(POI_data.shape)
        final_POI_all = pd.concat([final_POI_all,POI_data])
    return final_POI_all

In [46]:
final_POI_all = base_data_concat('E:/AAA_Study/202003_GraduationProject/MapData/OSMData/POI_campus_final')
final_POI_all

csv files num: 30
australia
(178, 16)
austria
(63, 16)
belgium
(95, 16)
brazil
(1040, 16)
canada
(155, 16)
china
(907, 16)
czech_republic
(56, 16)
denmark
(32, 16)
finland
(56, 16)
france
(541, 16)
germany
(615, 16)
great_britain
(653, 16)
india
(357, 16)
italy
(345, 16)
japan
(891, 16)
malaysia_singapore_brunei
(126, 16)
mexico
(573, 16)
netherlands
(65, 16)
new_zealand
(62, 16)
norway
(28, 16)
poland
(472, 16)
russia
(810, 16)
south_africa
(72, 16)
south_korea
(293, 16)
spain
(377, 16)
sweden
(68, 16)
switzerland
(56, 16)
taiwan
(117, 16)
ukraine
(303, 16)
us
(1718, 16)

,continent,country,OSMID,name,center_lat,center_lon,north,south,east,west,off_north,off_south,off_east,off_west,site_analyze_length,site_analyze_width
0,Oceania,australia,10300697,University of Queensland Medical School,-27.448571,153.024260,-27.447864,-27.449486,153.025146,153.022575,-27.447156,-27.450401,153.026033,153.020890,360.760820,507.476856
1,Oceania,australia,105574130,University of Adelaide,-34.918498,138.604368,-34.916970,-34.920992,138.606740,138.601723,-34.915441,-34.923485,138.609111,138.599077,894.451990,914.880056
2,Oceania,australia,10585250,"Monash University, Clayton Campus",-37.910562,145.137218,-37.904866,-37.916403,145.145184,145.127989,-37.899170,-37.922243,145.153150,145.118759,2565.600542,3017.071973
3,Oceania,australia,106602760,NaN,-34.404690,150.871595,-34.404052,-34.405274,150.872698,150.869929,-34.403413,-34.405858,150.873802,150.868263,271.849357,508.166096
4,Oceania,australia,107270526,NaN,-34.408770,150.880531,-34.408236,-34.409105,150.882315,150.878780,-34.407702,-34.409441,150.884099,150.877029,193.345738,648.648488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,North_America,us,94543614,New York Institute of Technology Central Islip...,40.769822,-73.193796,40.774343,40.765779,-73.189562,-73.198584,40.778864,40.761736,-73.185328,-73.203373,1904.524465,1519.677727
1714,North_America,us,94918526,Long Island University C W Post Campus,40.813742,-73.590245,40.823953,40.806313,-73.584086,-73.600543,40.834163,40.798883,-73.577927,-73.610840,3922.957012,2769.879200
1715,North_America,us,95431007,Florida Atlantic University - Boca Raton Campus,26.373357,-80.101590,26.386086,26.362564,-80.094475,-80.114382,26.398816,26.351772,-80.087360,-80.127173,5231.054129,3966.234089
1716,North_America,us,96632479,Pratt Institute,40.688016,-73.964309,40.688336,40.687696,-73.963978,-73.964636,40.688656,40.687377,-73.963646,-73.964963,142.262789,111.043983
1717,North_America,us,99446807,Humboldt State University,40.876286,-124.079235,40.880182,40.870922,-124.073164,-124.081609,40.884078,40.865557,-124.067092,-124.083983,2059.352280,1420.131106

In [47]:
output = 'E:/AAA_Study/202003_GraduationProject/MapData/OSMData/POI_campus_final/all_university.csv'
final_POI_all.to_csv(output,index=0,encoding='utf-8-sig')